@page
@model Kladbutiken.Pages.AdminModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div class="row">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <div class="col-md-1 ml-1 text-left">
                <a class="navbar-brand" href="/Admin">Admin</a>
            </div>
            <div class="col-md-10 text-white text-center">
                <h2>Empty Hanger</h2>
            </div>
            <div class="col-md-1 mr-1 mt-2 text-right">
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item">
                        <form asp-page-handler="logout" method="post">
                            <button class="btn btn-light" type="submit">Logga ut</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"></div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Startsida kund
                        </a>
                        <a class="nav-link collapsed" href="/Admin" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            CRUD
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/categorycrud">Lägg till kategori</a>
                                <a class="nav-link" href="/productcrud">Lägg till produkt</a>
                            </nav>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Inloggad som:</div>
                        @Model.LoggedInAs.EmailAddress
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1>Överblick</h1>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Mottagna</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/AdminOrder/OrderDeliveryCheck?orderstatus=Mottagen">Detaljer</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Behandlas</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/AdminOrder/OrderDeliveryCheck?orderstatus=Behandlas">Detaljer</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Skickade</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/AdminOrder/OrderDeliveryCheck?orderstatus=Skickad">Detaljer</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Avbrutna</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/AdminOrder/OrderDeliveryCheck?orderstatus=Avbruten">Detaljer</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Produkter
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Kategori</th>
                                            <th>Produktnamn</th>
                                            <th>Datum</th>
                                            <th>Pris</th>
                                            <th>Rabattprocent</th>
                                            <th>Antal sålda</th>
                                            <th>Lagersaldo</th>
                                            <th>Beskrivning</th>
                                            <th>Bild</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Kategori</th>
                                            <th>Produktnamn</th>
                                            <th>Datum</th>
                                            <th>Pris</th>
                                            <th>Rabattprocent</th>
                                            <th>Antal sålda</th>
                                            <th>Lagersaldo</th>
                                            <th>Beskrivning</th>
                                            <th>Bild</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var product in Model.AllProducts)
                                        {
                                            <tr>
                                                <td>@product.ID</td>
                                                <td>@product.Category.TypeName</td>
                                                <td>@product.ProductName</td>
                                                <td>@product.Date</td>
                                                <td>@product.Price</td>
                                                <td>@product.Discount</td>
                                                <td>@product.Sales</td>
                                                <td>@product.StockBalance</td>
                                                <td>@product.Description</td>
                                                <td><img src="@product.URLImg" style="width:100px" /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
</body>