@page
@model Kladbutiken.Pages.CartModel
@{
}
<head>
    <style>
        button.dropdown-item:hover {
            background-color: dimgray !important;
        }
    </style>
</head>
<!--Section: Block Content-->
<div class="container">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-8">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4 wish-list">

                    <h5 class="mb-4">Varukorg (<span>@Model.LoggedInAs.ProductCart.Count()</span> varor)</h5>
                    @foreach (var cartItem in Model.CartList)
                    {
                        <div class="row mb-4">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                    <img class="img-fluid w-100"
                                         src="@cartItem.Product.URLImg" alt="Sample">
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5>@cartItem.Product.ProductName</h5>
                                            <p class="mb-3 text-muted text-uppercase small">Lager saldo: @cartItem.Product.StockBalance</p>
                                        </div>
                                        <div>
                                            <div class="def-number-input number-input safari_only mb-0 w-100">
                                                <form asp-page-handler="remove" method="post">
                                                    <button class="btn"><i class="fas fa-minus"></i></button>
                                                    <input type="hidden" name="id" value="@cartItem.Product.ID" />
                                                </form>
                                                <input class="quantity" name="quantity" value="@cartItem.Quantity" type="number" readonly>
                                                <form asp-page-handler="add" method="post">
                                                    @if (cartItem.Quantity == cartItem.Product.StockBalance)
                                                    {
                                                        <button class="btn" disabled><i class="fas fa-plus"></i></button>
                                                        <label class="text-danger">Lagersaldo uppnått</label>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn"><i class="fas fa-plus"></i></button>
                                                        <input type="hidden" name="id" value="@cartItem.Product.ID" />
                                                    }

                                                </form>
                                            </div>
                                            <small id="passwordHelpBlock" class="form-text text-muted text-center">
                                                (Note, 1 piece)
                                            </small>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <form asp-page-handler="remove" method="post">
                                            <div>
                                                <button class="card-link-secondary small text-uppercase mr-3">
                                                    <i class="fas fa-trash-alt mr-1"></i> Ta bort från varukorg.
                                                </button>
                                                <input type="hidden" name="id" value="@cartItem.Product.ID" />
                                            </div>
                                        </form>
                                        <p class="mb-0"><span><strong id="summary">@cartItem.Product.PriceWithDiscount :-</strong></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <p class="text-primary mb-0">
                        <i class="fas fa-info-circle mr-1"></i> Försena inte köpet, tillagda artiklar i din varukorg betyder inte att du bokar dem.
                    </p>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-4">Förväntad leveranstid</h5>

                    <p class="mb-0">(@DateTime.Now.AddDays(3).ToShortDateString()) - (@DateTime.Now.AddDays(5).ToShortDateString())</p>
                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-4">Vi tar emot</h5>

                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                         alt="Visa">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                         alt="American Express">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                         alt="Mastercard">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                         alt="PayPal acceptance mark">
                </div>
            </div>
            <!-- Card -->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-3">Total summa</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Fraktavgift
                            @if (Model.ShipmentChoice == 2)
                            {
                                <span>120 :-</span>
                            }
                            else if (Model.TotalAmount >= 500)
                            {
                                <span>Gratis</span>
                            }
                            else
                            {
                                <span>(Det fattas @(500 - Model.TotalAmount) :- till gratis frakt!)</span>
                                <span>69 :-</span>
                            }
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Totala summan</strong>
                                <p class="mb-0">
                                    <strong>(inklusive moms 25%)</strong>
                                </p>
                            </div>
                            @if (Model.TotalAmount == 0)
                            {
                                <span><strong>0 :-</strong></span>
                            }
                            else if (Model.TotalAmount >= 500)
                            {
                                if (Model.ShipmentChoice == 2)
                                {
                                    <span><strong>@(Model.TotalAmount + 120) :-</strong></span>
                                }
                                else
                                {
                                    <span><strong>@Model.TotalAmount :-</strong></span>
                                }
                            }
                            else
                            {
                                if (Model.ShipmentChoice == 2)
                                {
                                    <span><strong>@(Model.TotalAmount + 120) :-</strong></span>
                                }
                                else
                                {
                                    <span><strong>@(Model.TotalAmount + 69) :-</strong></span>
                                }
                            }
                        </li>
                    </ul>
                    <div class="row justify-content-center">
                        <div class="dropdown-container: position-relative">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px; width:250px; background-color: #343a40 !important; border: none !important;">
                                Leveransadress
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #343a40 !important">
                                @if (Model.LoggedInAs.Addresses.Count == 0)
                                {
                                    <a class="dropdown-item" style="color: white" href="./Customer/AddAddress"><b>Lägg till adress</b></a>
                                }
                                else
                                {
                                    @foreach (var address in Model.LoggedInAs.Addresses)
                                    {
                                        <a class="dropdown-item" style="color: white" href="?addressid=@address.ID"><b>@address.Street, @address.PostalCode, @address.State</b></a>

                                    
                                    }
                                    <a class="dropdown-item" style="color: white" href="./Customer/AddAddress"><b>Lägg till adress</b></a>

                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        @if (Model.AddressChoice != null)
                        {
                            <br />
                            <div class="row justify-content-center">
                                <strong>Vald leveransadress:</strong>
                            </div>
                            <hr />
                            <div class="row">
                                <ul style="list-style-type: none">
                                    <li>@Model.LoggedInAs.FirstName @Model.LoggedInAs.LastName</li>
                                    <li>@Model.AddressChoice.Street</li>
                                    <li>@Model.AddressChoice.PostalCode, @Model.AddressChoice.State</li>
                                    <li>@Model.AddressChoice.City</li>
                                    <li>@Model.AddressChoice.Country</li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <br />
                        }
                    </div>
                    <div class="mb-5">
                        @if (Model.AddressChoice != null)
                        {
                            <br />
                            <div class="row justify-content-center">
                                <strong>Leveranssätt:</strong>
                            </div>
                            <hr />
                            <div class="container">
                                <div role="group" aria-label="Basic radio toggle button group">
                                    <div class="row justify-content-center">
                                        <div class="mr-5 justify-content-center">
                                            @if (Model.ShipmentChoice == 1)
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=1" class="btn btn-outline-dark active" title="(Leverans inom 3-5 arbetsdagar)">
                                                    Standard
                                                </a>
                                                <br />
                                                if (Model.TotalAmount >= 500)
                                                {
                                                    <div class="row justify-content-center"><p><strong>0 :-</strong></p></div>
                                                }
                                                else
                                                {
                                                    <div class="row justify-content-center"><p><strong>69 :-</strong></p></div>
                                                }
                                            }
                                            else
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=1" class="btn btn-outline-dark" title="(Leverans inom 3-5 arbetsdagar)">
                                                    Standard
                                                </a>
                                                <br />
                                                if (Model.TotalAmount >= 500)
                                                {
                                                    <div class="row justify-content-center"><p><strong>0 :-</strong></p></div>
                                                }
                                                else
                                                {
                                                    <div class="row justify-content-center"><p><strong>69 :-</strong></p></div>
                                                }
                                            }
                                        </div>
                                        <div class="ml-5 justify-content-center">
                                            @if (Model.ShipmentChoice == 2)
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=2" class="btn btn-outline-dark active " title="(Leverans inom 24 timmar)">
                                                    Express
                                                </a>
                                                <br />
                                                <div class="row justify-content-center"><p><strong>120 :-</strong></p></div>

                                            }
                                            else
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=2" class="btn btn-outline-dark" title="(Leverans inom 24 timmar)">
                                                    Express
                                                </a>
                                                <br />
                                                <div class="row justify-content-center"><p><strong>120 :-</strong></p></div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.ShipmentChoice != 0)
                        {
                            <br />
                            <div class="row justify-content-center">
                                <strong>Betalningsalternativ:</strong>
                            </div>
                            <hr />
                            <div class="container">
                                <div role="group" aria-label="Basic radio toggle button group">
                                    <div class="row justify-content-center">
                                        <div class="justify-content-center">
                                            @if (Model.PaymentChoice == 1)
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=1" class="btn btn-outline-dark active">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                                         alt="Visa">
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=1" class="btn btn-outline-dark">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                                         alt="Visa">
                                                </a>
                                            }
                                            @if (Model.PaymentChoice == 2)
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=2" class="btn btn-outline-dark active">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                                         alt="American Express">
                                                </a>

                                            }
                                            else
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=2" class="btn btn-outline-dark">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                                         alt="American Express">
                                                </a>
                                            }
                                            @if (Model.PaymentChoice == 3)
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=3" class="btn btn-outline-dark active">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                                         alt="Mastercard">
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=3" class="btn btn-outline-dark">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                                         alt="Mastercard">
                                                </a>
                                            }
                                            @if (Model.PaymentChoice == 4)
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=4" class="btn btn-outline-dark active">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                                                         alt="PayPal acceptance mark">
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=4" class="btn btn-outline-dark">
                                                    <img width="45px"
                                                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                                                         alt="PayPal acceptance mark">
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.CartList.Count == 0 || Model.AddressChoice == null || Model.ShipmentChoice == 0 || Model.PaymentChoice == 0)
                    {
                        <a href="/Payment" class="btn btn-primary btn-block disabled">Betala </a>
                    }
                    else
                    {
                        <a href="/Payment?addressID=@Model.AddressChoice.ID&ShipmentChoice=@Model.ShipmentChoice&Paymentchoice=@Model.PaymentChoice" class="btn btn-primary btn-block">Betala </a>
                    }
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</div>
<!--Section: Block Content-->