@page
@model Kladbutiken.Pages.CustomerModel
@{

}
<link href="~/css/CustomerStyle.css" rel="stylesheet">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">
                                @Model.UserInfo.FirstName @Model.UserInfo.LastName
                                <label class="label label-info">UX Designer</label>
                            </li>
                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                            <li class="activity">Last logged in: Today at 2:18pm</li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span> Settings</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>

                            <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
                            <li><a href="#"><span class="fa fa-clock-o"></span> Reminders</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Hej @Model.UserInfo.FirstName!</h2>
                    <form method="post" class="form-horizontal">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personuppgifter</h3>
                            @*<div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Användarnamn</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="email" class="form-control" value="MODEL.E-MAIL">
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Förnamn</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.FirstName" type="text" class="form-control" value="@Model.UserInfo.FirstName">
                                    <span asp-validation-for="CustomerInfo.FirstName"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Efternamn</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.LastName" type="text" class="form-control" value="@Model.UserInfo.LastName">
                                    <span asp-validation-for="CustomerInfo.LastName"></span>

                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Kontaktuppgifter</h3>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">E-mail</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Email" type="email" class="form-control" value="@Model.UserInfo.EmailAddress">
                                    <p class="help-block">Det här är även ditt användarnamn</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Telefonnummer</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    @if (Model.UserInfo.PhoneNumber != null)
                                    {
                                        <input type="text" class="form-control" value="@Model.CustomerInfo.PhoneNumber">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" value="">

                                    }
                                </div>
                            </div>
                            @if (Model.UserInfo.Addresses != null)
                            {
                                @foreach (var address in Model.UserInfo.Addresses)
                                {
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Adress</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="@address.Street">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postkod</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="@address.PostalCode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postort</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="@address.State">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Stad</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="@address.City">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Land</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" value="@address.Country">
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Adress</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postkod</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postort</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Stad</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Land</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                            }
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Update Profile">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>