@page
@model Kladbutiken.Pages.EditModel
@{
}
<link href="~/css/CustomerStyle.css" rel="stylesheet">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">
                                @Model.LoggedInAs.FirstName @Model.LoggedInAs.LastName
                                @*<label class="label label-info">KUNDNUMMER?</label>*@
                            </li>
                            <li class="Användarnamn"><a href="#">@Model.LoggedInAs.EmailAddress</a></li>
                            <li class="activity">Medlem sedan: @Model.LoggedInAs.RegisterDate.ToShortDateString()</li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li><a href="/Customer/Profile"><span class="fa fa-user"></span> Min sida</a></li>
                            <li><a href="/Customer/OrderHistory"><span class="fas fa-clipboard-list"></span> Orderhistorik</a></li>
                            <li class="active"><a href="/Customer/Edit"><span class="fa fa-cog"></span> Settings</a></li>

                            @*<li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>
                            <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
                            <li><a href="#"><span class="fa fa-clock-o"></span> Reminders</a></li>*@
                        </ul>
                    </nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Hej @Model.LoggedInAs.FirstName!</h2>
                    <fieldset class="fieldset">
                        <h3 class="fieldset-title">Personuppgifter</h3>
                        <form asp-page-handler="personupdate" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Förnamn</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.FirstName" type="text" class="form-control" value="@Model.LoggedInAs.FirstName">
                                    <span asp-validation-for="CustomerInfo.FirstName"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Efternamn</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.LastName" type="text" class="form-control" value="@Model.LoggedInAs.LastName">
                                    <span asp-validation-for="CustomerInfo.LastName"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">E-mail</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Email" type="email" class="form-control" value="@Model.LoggedInAs.EmailAddress">
                                    <p class="help-block">Det här är även ditt användarnamn</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Telefonnummer</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    @if (Model.LoggedInAs.PhoneNumber != null)
                                    {
                                        <input asp-for="CustomerInfo.PhoneNumber" class="form-control" value="@Model.LoggedInAs.PhoneNumber">
                                    }
                                    else
                                    {
                                        <input asp-for="CustomerInfo.PhoneNumber" class="form-control" value="">
                                    }
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <button class="btn btn-primary" type="submit">Spara</button>
                                <input asp-for="ID" type="hidden" value="@Model.LoggedInAs.ID">
                            </div>
                        </form>
                    </fieldset>
                    <br />
                    <fieldset class="fieldset">
                        <h3 class="fieldset-title">Byt Lösenord</h3>
                        <form asp-page-handler="ChangePassword" method="post">
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Nuvarande lösenord</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="PasswordModel.CurrentPassword" type="password" class="form-control">
                                    <span class="text-danger" asp-validation-for="PasswordModel.CurrentPassword"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Nytt lösenord</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="PasswordModel.NewPassword" type="password" class="form-control">
                                    <span class="text-danger" asp-validation-for="PasswordModel.NewPassword"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Upprepa lösenord</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="PasswordModel.ConfirmPassword" type="password" class="form-control">
                                    <span class="text-danger" asp-validation-for="PasswordModel.ConfirmPassword"></span>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <button class="btn btn-primary">Spara</button>
                                <input asp-for="ID" type="hidden" value="@Model.LoggedInAs.ID">
                            </div>
                        </form>
                    </fieldset>
                    <br />
                    <fieldset class="fieldset">
                        <h3 class="fieldset-title">Adresser<span style="float: right; padding-right:155px;"><a href="./AddAddress">Lägg till adress</a></span></h3>
                        @foreach (var address in Model.LoggedInAs.Addresses)
                        {
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Gatuadress</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Address.Street" class="form-control" value="@address.Street" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postkod</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Address.PostalCode" class="form-control" value="@address.PostalCode" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postort</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Address.State" class="form-control" value="@address.State" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Stad</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Address.City" class="form-control" value="@address.City" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Land</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="CustomerInfo.Address.Country" class="form-control" value="@address.Country" readonly>
                                </div>
                            </div>
                                <form method="post">
                            <p>
                                <a class="btn btn-primary" href="./EditAddress?ID=@address.ID">Ändra</a>
                                    <button class="btn btn-danger">Ta bort</button>
                                    <input asp-for="ID" type="hidden" value="@address.ID">
                            </p>
                                </form>
                        }
                    </fieldset>
                    <hr>
                    <form asp-page-handler="DeleteUser" method="post">
                        <button class="btn btn-danger">Ta bort konto</button>
                        <input asp-for="ID" type="hidden" value="@Model.LoggedInAs.ID">
                    </form>
                    
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>