@page
@model Kladbutiken.Pages.ProfileModel
@{

}
<link href="~/css/CustomerStyle.css" rel="stylesheet">
<div class="container">
    <div>
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            <ul class="meta list list-unstyled">
                                <li class="name">
                                    @Model.LoggedInAs.FirstName @Model.LoggedInAs.LastName
                                </li>
                                <li class="Användarnamn"><a href="#">@Model.LoggedInAs.EmailAddress</a></li>
                                <li class="activity">Medlem sedan: @Model.LoggedInAs.RegisterDate.ToShortDateString()</li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li class="active"><a href="/Customer/Profile"><span class="fa fa-user"></span> Min sida</a></li>
                                <li><a href="/Customer/OrderHistory"><span class="fas fa-clipboard-list"></span> Orderhistorik</a></li>
                                <li><a href="/Customer/Edit"><span class="fa fa-cog"></span> Settings</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel">
                        <h2 class="title">Hej @Model.LoggedInAs.FirstName!</h2>
                        <form class="form-horizontal">
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Personuppgifter</h3>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Telefonnummer</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        @if (Model.LoggedInAs.PhoneNumber != null)
                                        {
                                            <input asp-for="CustomerInfo.PhoneNumber" class="form-control" value="@Model.LoggedInAs.PhoneNumber" readonly>
                                        }
                                        else
                                        {
                                            <input asp-for="CustomerInfo.PhoneNumber" class="form-control" value="" readonly>

                                        }
                                    </div>
                                </div>
                            </fieldset>
                            <br />
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Adresser</h3>
                                    
                                    @foreach (var address in Model.LoggedInAs.Addresses)
                                    {

                                        <p><strong>Adress @(Model.AddressNumber +=1)</strong></p>
                                        <div class="form-group">
                                            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Gatuadress</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <input asp-for="CustomerInfo.Address.Street" class="form-control" value="@address.Street" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postkod</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <input asp-for="CustomerInfo.Address.PostalCode" class="form-control" value="@address.PostalCode" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postort</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <input asp-for="CustomerInfo.Address.State" class="form-control" value="@address.State" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Stad</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <input asp-for="CustomerInfo.Address.City" class="form-control" value="@address.City" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Land</label>
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <input asp-for="CustomerInfo.Address.Country" class="form-control" value="@address.Country" readonly>
                                            </div>
                                        </div>
                                        <br />
                                    }
                            </fieldset>
                            <hr>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>